table{
  margin-left:50%;
  transform: translate(-50%);
}

#deconnexion{
  float: right;
  margin:10px;
}

#poubelle{
  border:none;
  width:100%;
  background:none;
}

h2{
  float: left;
  margin:10px;
}
