







<div *ngIf="userlogin == '' ">
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>

        <div  class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

           <form [formGroup]="myform" (ngSubmit)="onSubmit()">
            <label>Nom d'utilisateur</label><br>
    <input type="text" formControlName="username"><br><br>
    <label>Mot de passe</label><br>
    <input type="password" formControlName="password"><br><br>
    <button type="submit" class="btn btn-primary">login</button>
</form>
  <br>
        <a style="float:left" href="/register">s'inscrire</a>
        </div>


      </div>
    </div>
  </section>

</div>






        <div  *ngIf="userlogin != '' ">
<h2>Votre compte :</h2>
          <button  class="btn btn-primary"  id="deconnexion" (click)="deconnection()">se déconnecter</button>
          <div *ngIf="totalcommande == 0 ">
            <br><br><br><br>
            <p class="text-center align-middle" > Vous n'avez aucunes commandes.</p>
            <br>
            <button class="boutonproduit" routerLink="/products" class="btn btn-primary">voir les produits</button>
          </div>
          <div *ngIf="totalcommande != 0 ">
          <table *ngFor="let cat of data;" style="width:70%;margin-top:5rem;"class="table table-bordered">
            <thead>
              <tr class="table-primary">
                <th scope="col">ref : {{cat.order.ref}}</th>
                <th scope="col">Passé le : {{cat.order.date_order}}</th>
                <th scope="col">Prévu le : {{cat.order.date_takeaway}}</th>

                <th scope="col" class="text-center"> <button id="poubelle" (click)="deletefunction(cat.order.id)" ><fa-icon [icon]="faRibbon"></fa-icon></button></th>

              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let product of cat.orderline;" >

                <td class="text-center">{{product.name}}</td>
               <td class="text-center" >{{product.quantity}}</td>
               <td class="text-center">{{product.price}} €</td>
              </tr>
          <tr>
            <th scope="col"></th>
                <th scope="col">Quantité : {{cat.order.total_quantity}}</th>
                <th scope="col">Total : {{cat.order.total_price | number : '1.2-2'}} €</th>

                <th scope="col"></th>
          </tr>
            </tbody>
          </table>
        </div>
          <br><br>


        </div>

