<h1>CONDITIONS GENERALES D'UTILISATION ET DE VENTE</h1>

<p>Le site internet <br><br><br>

  Doratiotto (ci-après la "Plateforme") est une initiative de<br><br>

  La srl doratiotto <br>
  Chaussée de Nivelle 3<br>
  5032 Mazy<br>
  Belgique<br>
  N° entreprise (BCE/TVA) : BE0636102562<br>
  email : doratiotto@gmail.com <br>

  (ci-après "Asbl" ou encore le "Vendeur")</p><br><br>

  Article 1 – Objet<br>

Les présentes conditions générales de vente ou de fourniture de services s'appliquent, sans restriction ni réserve, à l'ensemble des produits et/ou des services proposés à la vente sur DroitBelge.Net (www.droitbelge.net) (ci-après dénommé « le Site »).

Le fait pour une personne physique ou morale, de commander sur le Site emporte acceptation pleine et entière des présentes conditions générales de vente. Elles sont accessibles à tout moment sur le Site et prévaudront, le cas échéant, sur toute autre version et sur les propres conditions générales d'achat ou autres du Client.

<br><br>Article 2 – Prix – Modalités de paiement<br>

Les tarifs en vigueur sont exprimés TTC, nous nous réservons le droit de reporter toute nouvelle taxe et augmentation de taux.

Les prix indiqués s'entendent en Euros.

Vous devez régler la totalité des achats à la commande, aux coordonnées bancaires indiquées dans l'email de confirmation de la commande.

<br><br>Article  3 - Réclamations<br>

Toute réclamation et/ou contestation du client à l'encontre du service devra être formulée, exclusivement par e-mail à l'adresse contrats@droitbelge.be , au plus tard 48 heures à compter de leur fait générateur (pas de réception de contrat plus de 24 heures après la commande ou non-conformité du contrat dans les 24 heures de sa réception), sous peine de déchéance.

<br><br>Article  4 – délai de rétractation<br>

Les Produits sont livrés le plus rapidement possible par courrier électronique. En accord avec le client, nous exécutons la prestation avant la fin du délai de sept jours.

Les parties conviennent donc que l'envoi du contrat ne pourra donner lieu à l'exercice d'un quelconque droit de rétractation.

<br><br>Article 5 – Propriété intellectuelle et industrielle<br>

En achetant le contrat, le client devient titulaire d'un licence non exclusive d'utilisation sur le contrat. Cette licence comprend le droit d'utiliser le contrat pour un usage strictement personnel et dans le cadre des activité privées ou professionnelles propres du client. Ce droit est incessible dans le chef du client. Le client ne peut utiliser et installer qu'un seul exemplaire du contrat reçu et le télécharger sur un ordinateur unique.

Toute reproduction ou représentation, en tout ou partie, à d'autres fins notamment commerciales, sur un quelconque support est interdite. Le non-respect de cette interdiction constitue une contrefaçon qui peut engager la responsabilité civile et pénale du contrefacteur.

Les contrats sont protégés par la législation sur le droit d'auteur et d’une manière générale, sur la propriété intellectuelle. Aucune mention ou utilisation des marques, noms commerciaux, sigles, logos, dessins ou photos figurant sur le Site ne pourra être faite sans notre accord écrit et préalable. Toute reproduction ou utilisation non préalablement et expressément autorisée est constitutive du délit de contrefaçon et passible de poursuites civiles et pénales. Par ailleurs, les utilisations contraires aux bonnes mœurs et à la morale ne pourront faire l'objet d'aucune autorisation.

<br><br>Article 6 – Responsabilité<br>

Les contrats proposés à la vente ont fait l'objet de tous les soins nécessaires.

Toutefois, le client reconnaît et accepte que les modèles présentés ne constituent en aucun cas un avis juridique circonstancié.

Les modèles sont utilisés sous l’entière responsabilité du client et à titre purement informatif.

Un contrat doit être adapté aux objectifs poursuivis par les parties, en tenant compte de leurs contraintes et particularités juridiques propres. Il est vivement conseillé de ne l’utiliser qu’après avoir consulté un spécialiste.

En utilisant le contrat, vous renoncez à mettre en cause la responsabilité de DroitBelge.Net, de ses éditeurs ou de l’auteur du texte, même en cas de faiblesse ou d’inexactitude, flagrante ou non, de son contenu.

En toute hypothèse, la responsabilité de DroitBelge.Net, de ses éditeurs, de ses partenaires et des auteurs est limitée au remboursement du prix d'achat.

<br><br>Article 7 – Vie Privée<br>

Nous respectons votre vie privée. Nous ne collectons pas de données sans votre consentement. Nous vous invitons à consulter notre charte sur la protection de la vie privée pour de plus amples informations.

<br><br>Article 8 – Invalidité – Force majeure – Droit applicable et Tribunal compétent<br>

Si pour une quelconque raison une disposition des présentes conditions générales devait être déclarée inapplicable, cette inapplicabilité n'affecterait pas l'application des autres dispositions des conditions générales. Celle jugée inapplicable étant alors remplacée par la disposition la plus proche possible.

Ni DroitBelge.Net, ses éditeurs, ni le client ne sauraient être tenus responsables de toute inexécution qui aurait pour origine un cas de force majeure, échappant à leur contrôle, incluant notamment, sans que cela soit limitatif, les cas de guerre, d'émeute, d'insurrection, d'interruption de transport, de problème d'importation ou d'exportation, de grève, de lock-out, de pénurie, d'incendie, de tremblement de terre, de tempête, d'inondations.

Les présentes conditions générales sont exclusivement régies par la loi belge. En cas de litige, seuls les Tribunaux de l’arrondissement judiciaire de Bruxelles seront compétents.
